.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.pages {
    width: 300px;
    /* height: 20px; */
    margin: 0 auto;
    overflow: hidden;
}
.pages li {
    width: 10%;
    float: left;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-between;
}

.movies_container {
    width: 11%;
    display: flex;
    justify-content: center;
}

.movies_movie {
    width: 180px;
    height: 350px;
    margin: 10px 0;
}

.movies_movie img {
    width: 180px;
}

.movie_data .movie_title {
    font-size: 16px;
    font-weight: bold;
}

.movie_data .movie_rating {
    font-size: 15px;
}
